<div class="form-grid">
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n="@@currentPropertySale">Current Property Sale</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="fields">
        <mat-form-field>
          <mat-label i18n="@@salePrice">Sale Price</mat-label>
          <input matInput type="number" [(ngModel)]="sale.salePrice" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@saleRelatedCosts">Sale-Related Costs</mat-label>
          <input matInput type="number" [(ngModel)]="sale.saleRelatedCosts" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@outstandingMortgageDebt">Outstanding Mortgage Debt</mat-label>
          <input matInput type="number" [(ngModel)]="sale.outstandingMortgageDebt" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@currentCashBalance">Current Cash Balance</mat-label>
          <input matInput type="number" [(ngModel)]="sale.currentCashBalance" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@municipalCapitalGainsTax">Municipal Capital Gains Tax</mat-label>
          <input matInput type="number" [(ngModel)]="sale.municipalCapitalGainsTax" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@extraordinaryCosts">Extraordinary Costs</mat-label>
          <input matInput type="number" [(ngModel)]="sale.extraordinaryCosts" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title i18n="@@debtCapacity">Debt Capacity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="fields">
        <mat-form-field>
          <mat-label i18n="@@monthlyNetSalary">Monthly Net Salary</mat-label>
          <input matInput type="number" [(ngModel)]="debtCapacity.monthlyNetSalary" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@monthlyLoanPayments">Monthly Loan Payments</mat-label>
          <input matInput type="number" [(ngModel)]="debtCapacity.monthlyOutstandingLoanPayments" min="0" />
          <span matTextPrefix>EUR&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@maxDebtRatio">Max Debt Ratio (%)</mat-label>
          <input matInput type="number" [(ngModel)]="debtCapacity.maxDebtRatioPercentage" min="1" max="100" />
          <span matTextSuffix>&nbsp;%</span>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
