.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}

mat-form-field {
  width: 100%;
}
